LargeWebStore.Api/.vs/
LargeWebStore.Api/bin/
LargeWebStore.Api/obj/

LargeWebStore.DWH.Api/.vs/
LargeWebStore.DWH.Api/bin/
LargeWebStore.DWH.Api/obj/

LargeWebStore.ElasticSearchManager/.vs/
LargeWebStore.ElasticSearchManager/bin/
LargeWebStore.ElasticSearchManager/obj/

LargeWebStore.Logs/.vs/
LargeWebStore.Logs/bin/
LargeWebStore.Logs/obj/

LargeWebStore.Common/obj/
LargeWebStore.Common/bin/
LargeWebStore.Common/.vs/

LargeWebStore.DWH.Web/obj/
LargeWebStore.DWH.Web/bin/
LargeWebStore.DWH.Web/.vs/
LargeWebStore.DWH.Web/ClientApp/node_modules/
